*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(32, 31, 31);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 86, 251);
    height: 500px;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 25px;
}

.b1{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b2{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxone, #boxtwo , #ans{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: none;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.symbol{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#button:hover{
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}